body {
    margin: 1em 0 0 0;
}

.pure-g {
    padding: 0 1em 0 1em;
}

.pure-menu-link:focus {
    background-color: #d3d3d3;
}

nav {
    margin: 0em 0 1em 0;
    padding: 0 0 1em 0;
    border-bottom: 1px solid #ccc;
}

footer {
    margin: 5em 0 1em 0;
}

pre {
    white-space: pre-wrap;
    margin-left: 3em;
}

code {
    font-size: 89%;
    color: #191919;
}

.author {
  margin-bottom: 0;
  padding-bottom: 0;
}

.headnote, .published, .license {
    font-size: 89%;
    margin-bottom: 0.75em;
}

/*
 * Using Pure.css default media query
 * http://purecss.io/grids/
 */
 @media screen and (max-width: 35.5em) {

    /* http://alijafarian.com/responsive-html-tables/ */
    thead {
    	display: none;
    }
    tr, th, td {
    	display: block;
    }
    td {
    	border-top: none;
    }
    tr td:first-child {
    	border-top: 1px solid #ddd;
    	font-weight: bold;
    }

}
